* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  }
  
  header {
	/* display: flex; */
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	margin: auto;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
	  url("au-pasay-abad.jpg");
	background-size: cover;
	background-position: center;
  }
  
  nav {
	display: flex;
	padding: 10px;
	top: 100px;
	/* overflow: hidden; */
	/* justify-content: space-between; */
  }
  
  .uniLogo {
	width: 110px;
	height: 80px;
	margin: 0px 50px 20px;
  }
  
  .nav-links {
	width: 100%;
	display: flex;
	margin-top: 20px;
	justify-content: flex-end;
  }
  
  .nav-links ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
	height: 30px;
	align-items: center;
  }
  
  nav li {
	list-style: none;
	margin: 0 15px;
  }
  
  nav li a {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 13px;
  }
  
  .headerDescWrapper {
	display: flex;
	width: 80%;
	height: 60%;
	margin: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
  }
  
  .headerDesc h1 {
	color: white;
	font-size: 40px;
	font-family: sans-serif;
  }
  
  .headerDesc p {
	color: rgb(154, 146, 146);
	margin-top: 20px;
	font-size: 16px;
	margin-bottom: 60px;
  }
  
  .hero-btn {
	color: white;
	text-decoration: none;
	border: 1px solid white;
	padding: 10px 20px;
	font-size: 14px;
	transition: 0.5s;
	display: inline-block;
  }
  
  .hero-btn:hover {
	border: 1px solid red;
	background: red;
  }
  
  .nav-links li::after {
	display: block;
	content: "";
	width: 0%;
	height: 2px;
	background: red;
	transition: 0.5 ease;
	margin: auto;
	transition: 0.5s ease;
  }
  
  .nav-links li:hover::after {
	width: 100%;
  }
  
  nav .fa {
	display: none;
  }
  
  /* .headerDesc {
	width: 80%;
	margin: auto;
	text-align: center;
	position: absolute;
	transform: translate(50%, 50%);
  } */
  @media (max-width: 700px) {
	.headerDesc h1 {
	  font-size: 24px;
	}
  
	.nav-links {
	  display: block;
	  /* position: absolute;  */
	  position: fixed; /* position fixed will make it not overflow from the viewport */
	  top: 0;
	  right: -200px; /* position based on viewport is 200px over the viewport(overflow the viewport */
	  /* on click will change the position to 0px from the right of view port(just in the viewport) */
	  height: 100vh;
	  width: 200px;
	  background: red;
	  margin-top: 0;
	  justify-content: flex-start;
	  transition: 0.5s;
	  z-index: 2;
	}
  
	.nav-links ul {
	  display: block;
	  margin-top: 40px;
	}
  
	.nav-links li {
	  width: 100%;
	  padding: 20px;
	  margin-left: 40px;
	}
  
	nav .fa {
	  margin: 10px;
	  color: white;
	  font-size: 30px;
	  display: block;
	  cursor: pointer;
	}
  
	.fa-bars {
	  position: absolute;
	  right: 0px;
	  padding: 0 20px;
	}
  }
  
  /* courses */
  .sub-header {
	justify-content: space-between;
	width: 100%;
	height: 50vh;
	margin: auto;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
	  url("https://www.suneducationgroup.com/wp-content/uploads/2015/06/Institusi-Sunway-MY-0.jpg");
	background-size: cover;
	background-position: center;
  }
  
  .courses {
	width: 80%;
	margin: 80px auto 100px;
	text-align: center;
  }
  
  .courses h1 {
	font-size: 40px;
	margin-bottom: 20px;
  }
  
  .courses p {
	font-size: 14px;
	color: rgb(104, 105, 105);
	padding-bottom: 20px;
	margin-bottom: 20px;
	/* width: 100%; */
  }
  
  .boxContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
  }
  
  .course-col {
	flex-basis: 32%;
	border-radius: 15px;
	padding: 30px;
	box-sizing: border-box;
	background: #fff3f3;
	transition: 0.5s;
  }
  
  .course-col:hover {
	cursor: pointer;
	box-shadow: 0 0 11px rgba(33, 33, 33, 0.9);
  }
  
  .course-col h2 {
	font-size: 20px;
	margin-bottom: 20px;
  }
  
  .course-col p {
	margin-bottom: 0;
	padding-bottom: 0;
  }
  
  @media (max-width: 700px) {
	.boxContainer {
	  display: block;
	}
  
	.course-col {
	  margin-bottom: 20px;
	}
  }
  
  /* campus */
  .campus {
	width: 80%;
	margin: auto;
	margin-bottom: 80px;
	text-align: center;
  }
  
  .campus h1 {
	font-size: 40px;
	margin-bottom: 20px;
  }
  
  .campus p {
	font-size: 14px;
	color: rgb(104, 105, 105);
	padding-bottom: 20px;
	margin-bottom: 20px;
  }
  
  .campus-col {
	flex-basis: 32%;
	position: relative;
  }
  
  .campus-col img {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	cursor: pointer;
  }
  
  @media (max-width: 700px) {
	.campus-col {
	  margin-bottom: 20px;
	}
  }
  
  .color-tint {
	position: absolute;
	top: 0;
	color: white;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.5s;
  }
  
  .fitTint {
	position: absolute;
	width: 100%;
	bottom: 0;
	opacity: 0;
	transition: 0.5s;
  }
  
  .color-tint:hover {
	background: rgba(202, 7, 7, 0.7);
  }
  
  .color-tint:hover .fitTint {
	opacity: 1;
	bottom: 45%;
  }
  
  /* facilities */
  .facilities {
	width: 80%;
	margin: auto;
	text-align: center;
	margin-bottom: 80px;
  }
  
  .facilities h1 {
	font-size: 40px;
	margin-bottom: 20px;
  }
  
  .facilities p {
	font-size: 14px;
	color: rgb(104, 105, 105);
	padding-bottom: 20px;
	margin-bottom: 20px;
	/* width: 100%; */
  }
  
  .facilities-col {
	flex-basis: 32%;
  }
  
  .facilities-col img {
	border-radius: 15px;
	width: 100%;
	height: 220px;
  }
  
  .facilities-col h3,
  .facilities-col p {
	text-align: left;
	margin: 20px 0;
  }
  
  /* about-us */
  .about-us {
	display: flex;
	width: 80%;
	margin: 100px auto 80px;
	justify-content: space-between;
  }
  
  .description {
	flex-basis: 49%;
	/* display: flex;
	flex-direction: column; */
  }
  
  .about-us p {
	margin: 20px 0 30px;
	line-height: 24px;
	color: gray;
  }
  
  .imgWrapper {
	width: 100%;
	flex-basis: 49%;
  }
  
  .about-us img {
	width: 100%;
  }
  
  .red-btn {
	position: relative;
	display: inline-block;
	color: red;
	text-decoration: none;
	border: 1px solid red;
	padding: 10px 20px;
	font-size: 14px;
	transition: 0.5s;
  }
  
  .red-btn:hover {
	color: white;
	background: red;
  }
  
  @media (max-width: 700px) {
	.about-us {
	  display: block;
	  width: 80%;
	  margin: 100px auto 80px;
	  justify-content: space-between;
	}
  
	.imgWrapper {
	  margin-top: 80px;
	}
  }
  
  /* blog */
  .blog {
	width: 80%;
	display: flex;
	margin: 80px auto 100px;
	justify-content: space-between;
  }
  
  .blog-left {
	flex-basis: 64%;
  }
  
  .blog-left img {
	width: 100%;
  }
  
  .blog-left h1 {
	padding: 40px 0;
  }
  
  .blog-left p {
	margin-bottom: 20px;
	color: gray;
  }
  
  form {
	width: 100%;
	border: 1px solid rgb(216, 209, 209);
  }
  
  form h2 {
	padding: 20px 0;
  }
  
  .inputContainer {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
  }
  
  input,
  textarea {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
	background: rgb(235, 232, 232);
	border: none;
  }
  
  .blog-right {
	flex-basis: 33%;
	/* border: 1px solid black; */
	text-align: center;
	width: 100%;
  }
  
  .categoriesContainer h3 {
	padding: 20px;
	background: red;
	color: white;
	font-size: 24px;
  }
  
  .categoriesContainer {
	/* border: 1px solid black; */
  }
  
  .categories {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding: 5px 0;
  }
  
  @media (max-width: 700px) {
	.blog {
	  display: block;
	}
  
	.blog-right {
	  margin: 50px auto 30px;
	}
  }
  
  /* contact-us */
  .contact-us {
	width: 80%;
	margin: auto;
	justify-content: space-between;
  }
  
  .contact-us iframe {
	width: 100%;
	margin: 80px 0;
  }
  
  .enquiries {
	display: flex;
	width: 100%;
	margin-bottom: 30px;
  }
  
  .contact-details {
	flex-basis: 49%;
  }
  
  .contact-method {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
  }
  
  .contact-method .fa {
	font-size: 30px;
	color: red;
  }
  
  .methodText {
	margin-left: 30px;
  }
  
  .methodText h3 {
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 5px;
  }
  
  .methodText h5 {
	font-weight: 200;
	font-size: 15px;
	color: grey;
	margin-bottom: 5px;
  }
  
  .contact-form {
	flex-basis: 49%;
	/* border: 1px solid black; */
  }
  
  .contact-form form {
	width: 100%;
	/* padding: 20px; */
	padding-top: 0;
	box-sizing: border-box;
  }
  
  .contact-form input,
  .contact-form textarea {
	width: 100%;
	padding: 10px;
	margin: 0 auto 15px;
	border: 1px solid rgb(191, 189, 189);
	box-sizing: border-box;
  }
  
  @media (max-width: 700px) {
	.enquiries {
	  display: block;
	}
  }
  
  /* alumni */
  .alumni {
	width: 80%;
	margin: auto;
	margin-bottom: 80px;
  }
  
  .alumniHeader {
	text-align: center;
  }
  
  .alumniHeader h1 {
	font-size: 40px;
	margin-bottom: 20px;
  }
  
  .alumniHeader p {
	font-size: 14px;
	color: rgb(104, 105, 105);
	padding-bottom: 20px;
	margin-bottom: 20px;
	/* width: 100%; */
  }
  
  .alumniPost {
	display: flex;
	justify-content: space-between;
  
	flex-wrap: wrap;
  }
  
  .alumni-col {
	/* border: 1px solid black; */
	width: 100%;
	display: flex;
	padding: 20px;
	background: rgb(255, 232, 235);
	flex-basis: 48%;
	border-radius: 15px;
	box-sizing: border-box;
	margin-bottom: 20px;
  }
  
  .alumni-col img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 20px;
  }
  
  .alumniComment {
	/* margin-left: 20px; */
  }
  
  .alumniComment p {
	margin-bottom: 15px;
	color: rgb(110, 108, 108);
	line-height: 20px;
	font-size: 14px;
  }
  
  .alumniComment h3 {
	margin-bottom: 10px;
  }
  
  .alumniComment .fa {
	color: rgb(245, 69, 69);
  }
  
  @media (max-width: 700px) {
	.alumniPost {
	  display: block;
	}
  
	.alumni-col {
	  display: block;
	  margin-bottom: 20px;
	}
  
	.alumni-col img {
	  margin-bottom: 10px;
	}
  }
  
  /* enrol */
  .enrol {
	width: 80%;
	/* margin: auto; */
	background-image: linear-gradient(
		rgba(20, 20, 20, 0.7),
		rgba(20, 20, 20, 0.7)
	  ),
	  url(https://miro.medium.com/max/2800/0*C8lNwngpLUzHD8hc.jpg);
	background-size: cover;
	border-radius: 15px;
	text-align: center;
	color: white;
	margin: 100px auto 80px;
	padding: 80px 0;
  }
  
  .enrol h2 {
	font-size: 30px;
	line-height: 40px;
  }
  
  .enrol .hero-btn {
	margin-top: 40px;
  }
  
  @media (max-width: 700px) {
	.enrol h2 {
	  font-size: 24px;
	  line-height: 30px;
	}
  }
  
  /* footer */
  footer {
	margin-top: 10px;
	padding-top: 30px;
	border-top: 1px solid black;
	text-align: center;
	padding-bottom: 20px;
	background: gainsboro;
  }
  
  footer h4 {
	margin-bottom: 20px;
  }
  
  footer p {
	font-size: 12px;
	color: rgb(104, 105, 105);
  }
  
  footer .footerWrapper {
	width: 80%;
	margin: auto;
  }
  
  .icons {
	padding: 20px;
  }
  
  .icons .fa {
	padding: 0 10px;
	color: red;
  }
  
  footer h5 {
	font-weight: 300;
	color: rgb(123, 123, 120);
  }
  